gems/2.2.2/cache/attr_required-1.0.0.gem
gems/2.2.2/cache/paypal-express-0.8.1.gem
gems/2.2.2/gems/attr_required-1.0.0/
gems/2.2.2/gems/paypal-express-0.8.1/
gems/2.2.2/specifications/attr_required-1.0.0.gemspec
gems/2.2.2/specifications/paypal-express-0.8.1.gemspec
