.paid-membership-plans {
	padding-right: 4px;
	.item {
		.field {
			// 2015-06-30
			// Обратите внимание, что селектор :first-of-type игнорирует классы
			// и учитывает лишь тег элемента: http://stackoverflow.com/a/8539107/254475
			// Но нам пока и этого достаточно.
			&:first-of-type {
				width: 100%;
				overflow: hidden;
				margin-bottom: 0;
				button {float: right;}
			}
			&:not(:first-of-type) {margin-top: 4px;}
			// 2015-06-30
			// Этот размер использует ядро для экранных названий настроечных опций
			.label {font-size: 0.929em;}
			.input {
				textarea {
					width: 100%;
					box-sizing: border-box;
					color: rgb(145, 145, 145);
					&:active, &:hover, &:focus {color: #222222;}
				}
				input {
					&:active, &:hover, &:focus {color: #222222;}
					&.plan-id {
						border: 0;
						box-shadow: none;
						padding: 0;
					}
				}
			}
		}
	}
	.items {
		margin-bottom: 10px;
		.item {
			margin-bottom: 8px;
			button {
				background: transparent;
				i.fa {color: rgb(145, 145, 145);}
				&:hover {
					i {
						&.fa-times {color: #e45735;}
					}
				}
			}
		}
	}
}