// 2015-07-06
// Обратите внимание, что такой синтаксис не поддерживает звёздочку на конце:
// надо явно указывать имя файла.
@import '../../../plugins/df-core/assets/stylesheets/admin-lib/settings';
// 2015-07-06
// Редактор текста над тарифными планами.
.row.setting.«Paid_Membership»_Text_Above {@include df-row-setting-wide;}
// 2015-07-02
// Строка настроек со всеми планами.
.row.setting.paid-membership-plans {@include df-row-setting-wide;}
.membership-plans {
	padding-right: 4px;
	ul.plans {margin-left: 0;}
	h4 {
		&.add-new-plan {font-size: 14px;}
	}
	// 2015-06-30
	// Этот размер использует ядро для экранных названий настроечных опций
	.label, h5 {
		font-size: 0.929em;
		font-weight: normal;
		line-height: 1.2em;
	}
	.item {
		.field {
			// 2015-06-30
			// Обратите внимание, что селектор :first-of-type игнорирует классы
			// и учитывает лишь тег элемента: http://stackoverflow.com/a/8539107
			// Но нам пока и этого достаточно.
			&:first-of-type {
				width: 100%;
				overflow: hidden;
				margin-bottom: 0;
				button {float: right;}
			}
			&:not(:first-of-type) {margin-top: 8px;}
			&.palette {
				margin: {
					top: 0.75em;
					bottom: 1.25em;
				}
				//table-layout: fixed;
				> caption {text-align: left;}
				> tr {
					&:hover {background-color: transparent;}
					> td {
						border-width: 0;
						padding: 2px 0;
						&.label {
							text-align: right;
							line-height: 26px;
							padding-right: 4px;
						}
						&.value {
							width: 5em;
							>.ember-view {
								> .hex-input {
									width: 4em;
									border: 1px;
									padding: 4px;
									text-align: center;
								}
							}
						}
					}
				}
			}
			input, select, option {font-size: 14px;}
			.plan-title input {
				font-size: 18px;
				// Ядро устанавливает 18px
				height: auto;
				line-height: normal;
				font-weight: bold;
				color: rgb(103, 96, 86);
			}
			textarea {
				width: 100%;
				box-sizing: border-box;
				color: rgb(145, 145, 145);
				&:active, &:hover, &:focus {color: #222222;}
			}
			input, select {
				&:active, &:hover, &:focus {color: #222222;}
				border: 0;
				box-shadow: none;
				padding: 0;
				&.amount {padding-right: 2px;}
				option {padding: 0;}
				&.periodUnits {width: 6em;}
				&.restrictionType {width: 6em;}
			}
		}
		&.plan {margin-top: 16px;}
	}
	.membership-price-tiers {
		margin: 8px 0;
		max-width: 20em;
	}
	.items {
		&.plans {margin-bottom: 24px;}
		&.tiers {margin-bottom: 8px;}
		.item {
			&.plan {
				&:not(:last-of-type) {margin-bottom: 16px;}
			}
		}
	}
	button.df-simple {
		background: transparent;
		padding: {
			top: 0;
			bottom: 0;
		}
		i.fa {color: rgb(145, 145, 145);}
		&:hover {
			i {
				&.fa-times {color: #e45735;}
			}
		}
	}
}