.df-paid-membership-frontend {
	padding-top: 5%;
	h1 {text-align: center;}
	ul.plans {
		margin: 5% 0 0 0;
		list-style: none;
		width: 100%;
		overflow: hidden;
		text-align: center;
		li {
			display: inline-block;
		}
	}
}