.df-paid-membership-frontend {
	padding-top: 2%;
	h1 {text-align: center;}
	/*	2015-07-06
		Нам нужно, чтобы, все колонки тарифных планов:
		1) были расположены равномерно по всей ширине контейнера
		2) имели одинаковую ширину
		2) чтобы между ними были отступы
		Решение с отступами взял отсюда: http://stackoverflow.com/a/25191956/254475

		Сначала пробовал решение с наибольшим количеством голосов:
		http://stackoverflow.com/a/13378788/254475
		Суть этого решения в создании прозрачной рамки с одной из сторон ячеек
		(кроме одной из крайних).
		Однако недостаток этого решения в том, что колонки получаются разной ширины:
		колонка без прозрачной рамки получается шире на ширину этой рамки у других колонок,
        и я не понял, как это побороть.

        А вот используемое сейчас решение с отрицательным отступом у меня заработало.
	*/
	$spaceBetweenColumns: 1em;
	> .table-outer {margin-top: 5%;}
	.text-above ~ .table-outer {margin-top: 0;}
	> .table-outer {
		margin: {
			left: -$spaceBetweenColumns;
			right: -$spaceBetweenColumns;
		}
		> table.plans {
			width: 100%;
			// Чтобы колонки тарифных планов имели одинаковую ширину:
			// http://stackoverflow.com/a/571420/254475
			table-layout: fixed;
			text-align: center;
			// Проценты не поддерживаются
			// http://stackoverflow.com/a/4973360/254475
			// http://www.w3.org/TR/CSS2/tables.html#propdef-border-spacing
			border-collapse: separate;
			border-spacing: $spaceBetweenColumns 0;
			tr:last-child {
				td.plan {
					border-bottom-width: 1px;
				}
			}
			td.plan {
				vertical-align: top;
				border: 1px solid;
				border-bottom-width: 0;
				border-top-width: 0;
				h2 {
					margin: 0;
					color: white;
					font-weight: bold;
					text-transform: uppercase;
					padding: 8px 20px 9px 20px;
				}
				.description {
					padding: 0.35em 0.75em 1em;
					text-align: left;
				}
				&.options {
					padding: 0.35em 0.75em;
					vertical-align: middle;
					> .options-outer {margin: 0 auto;}
					label {
						// В ядре: margin-bottom: 5px;
						margin: 0;
						&:not(.disabled) {cursor: pointer;}
						&.disabled {
							cursor: not-allowed;
							> input {cursor: not-allowed;}
						}
						> div {float: left;}
					}
				}
				.need-login {
					padding: 1em 0;
				}
				a.sign-up {
					display: inline-block;
					position: relative;
					text-align: center;
					text-decoration: none;
					border: none;
					border-radius: 6px;
					font-size: 20px;
					margin: 5px 20px 20px;
					padding: 10px 2em;
					bottom: 0;
					color: #fff;
					font-weight: bold;
					transition: background-color .25s;
					font-family: 'Open Sans', sans-serif;
					// 2015-07-06
					// Этот селектор обязательно должно быть расположен после селектора &:hover,
					// чтобы при нажатии кнопки применялось правило box-shadow: none;
					&:active:not(.disabled) {
						box-shadow: none !important;
						position: relative;
						top: 5px;
					}
					&.disabled {
						cursor: not-allowed;
						opacity: 0.15;
					}
				}
			}
		}
	}
}